---
import Layout from "../layouts/Layout.astro";
---

<Layout title="boring portfolio">
	<main class="flex flex-col gap-2 p-4 lg:p-6">
		<header class="container lg:py-4">
			<div class="flex items-center gap-2 font-medium">
				<a
					class="underline-offset-4 underline decoration-neutral-500 transition hover:decoration-inherit"
					href="https://mosly.dev"
					target="_blank"
					rel="noreferrer">mosly</a
				>
				/
				<a
					class="underline-offset-4 underline decoration-neutral-500 transition hover:decoration-inherit"
					href="https://github.com/leomosley"
					target="_blank"
					rel="noreferrer">github</a
				>
				/
				<a
					class="underline-offset-4 underline decoration-neutral-500 transition hover:decoration-inherit"
					href="https://x.com/leomosly"
					target="_blank"
					rel="noreferrer">x</a
				>
			</div>
		</header>
		<div class="flex flex-col gap-3">
			<h1 class="text-xl text-neutral-400">pages</h1>
			<a
				class="underline-offset-4 underline decoration-neutral-500 transition hover:decoration-inherit text-2xl"
				href="https://example.boring-portfolio.dev"
				target="_blank"
				rel="noreferrer">example</a
			>
			<a
				class="underline-offset-4 underline decoration-neutral-500 transition hover:decoration-inherit text-2xl"
				href="https://create.boring-portfolio.dev"
				target="_blank"
				rel="noreferrer">create</a
			>
		</div>
	</main>
</Layout>
